*.log
*.log-*
npm-debug.log*

*.pid
*.pid.lock

build/Release

node_modules/
jspm_packages/

typings/

.npm

.eslintcache

.node_repl_history

*.tgz

.env

dist/
public/

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
local.properties
.settings/

*.class
*.jar
*.war
*.ear

*.zip
*.tar.gz
*.rar

.DS_Store

target/

*.code-workspace

.history